@media screen and (max-width: 800px) {
  header {
    background-color: var(--main-bg-color);
    font-family: "Oswald", sans-serif;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2px;
  }
  .logo1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2px;
  }
  nav ul {
    display: flex;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: 58px;
    justify-content: center;
    margin-left: 0;
  }

  .slider {
    height: 30vh;
  }
}
