@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Playfair+Display:ital@1&display=swap");

:root {
  --main-bg-color: #ff890c;
  --main-text-color: white;
}

* {
  padding: 0;
  margin: 0;
}
header {
  background-color: var(--main-bg-color);
  font-family: "Oswald", sans-serif;
  position: sticky;
  top: 0px;
}
nav {
  display: flex;
}

nav ul {
  display: flex;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: 58px;
  align-items: center;
  margin-left: 36em;
}

.logo {
  display: flex;
  align-items: center;
}
/* .logo1 {
  display: flex;
    height: 3em;
    width: 3em;
    padding: 5px;
}  */
.logo1 img {
  display: flex;
  height: 3em;
  width: 3em;
  padding: 5px;
}
.logo1 img:hover {
  background-color: white;
  border-radius: 8px;
  margin: 2px;
  padding: 0px;
}
.logo img {
  display: flex;
  padding: 0 25px;
  height: 3em;
}

nav ul li {
  list-style: none;
  padding: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  font-size: 18px;
}
nav ul li a img {
  width: 39px;
  height: 42px;
}
nav ul li a img:hover {
  background-color: rgb(243, 235, 235);
  border-radius: 6px;
}

.container {
  min-height: calc(100vh - 13vh - 58px);
}
.slider {
  width: 90vw;
  margin: 10px auto;
  overflow: hidden;
}
.card {
  max-width: 90vw;
  margin: 37px auto;
  background-color: #f4ece3;
}
.cards {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.card-item {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15px;
  font-family: sans-serif;
}
.scroll-bar{
  background-color: #f4ece3;
  overflow: auto;
  white-space: nowrap;
}

footer {
  color: white;
  background-color: var(--main-bg-color);
  height: 13vh;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
